 h1
    {
        color: rgb(214, 88, 172);
        align-items:initial;
    }
    
    body 
{
            height: 100%;
            background: #34588e;
            margin-top: 150px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            background-size: cover;
            
            } 
   

           #pepsi {
  background: #fff;
  border-radius: 50%;
  height: 220px;
  position: relative;
  width: 220px;
  animation: shake .5s infinite alternate ease-in-out;
}

#pepsi * {
  position: absolute;
}

#pepsi .red1,
#pepsi .red2,
#pepsi .red3 {
  background: #ee3a43;
}

#pepsi .red1 {
  border-radius: 200px 0 0 0;
  clip: rect(0px 200px 79px 0);
  height: 100px;
  left: 10px;
  top: 10px;
  width: 100px;
}

#pepsi .red2 {
  border-radius: 0 200px 0 0;
  clip: rect(0px 200px 92px 0);
  height: 100px;
  left: 110px;
  top: 10px;
  width: 100px;
}

#pepsi .red3 {
  border-radius: 161px/117px;
  clip: rect(103px 140px 117px 30px);
  height: 117px;
  left: -17px;
  top: -15px;
  width: 161px;
}

#pepsi .blue1,
#pepsi .blue2,
#pepsi .blue3 {
  background: #016aab;
}

#pepsi .blue1 {
  border-radius: 0 0 0 200px;
  bottom: 10px;
  clip: rect(8px 200px 100px 0);
  height: 100px;
  left: 10px;
  width: 100px;
}

#pepsi .blue2 {
  border-radius: 0 0 200px 0;
  bottom: 10px;
  clip: rect(22px 200px 100px 0);
  height: 100px;
  left: 110px;
  width: 100px;
}

#pepsi .blue3 {
  border-radius: 161px/117px;
  clip: rect(0 132px 15px 29px);
  height: 117px;
  left: 75px;
  top: 118px;
  width: 161px;
}

#pepsi .white1 {
  background: #ffffff;
  border-radius: 161px/117px;
  clip: rect(0 136px 22px 0);
  height: 117px;
  left: 75px;
  position: absolute;
  top: 81px;
  width: 161px;
}

#pepsi .white2 {
  background: #ffffff;
  border-radius: 161px/117px;
  clip: rect(95px 136px 117px 0);
  height: 117px;
  left: -17px;
  position: absolute;
  top: 22px;
  width: 161px;
}
@keyframes shake
                {
                    0%{
                       transform: translateX(-2px); 
                    } 
                    100%{
                        transform: translateX(2px);
                    }
                }
